In [1]:
import pandas as pd

df = pd.read_csv('customer_interactions.csv')
df.head()

   spend  interactions
0   5818            23
1   6255            15
2   6139            15
3   6070            19
4   4837            24

In [2]:
import math

math.sqrt((df.loc[0, 'spend'] - df.loc[1, 'spend'])**2 + 
          (df.loc[0, 'interactions'] - df.loc[1, 'interactions'])**2)

437.0732204104937

In [3]:
df['z_spend'] = (df['spend'] - df['spend'].mean())/df['spend'].std()
df['z_interactions'] = (df['interactions'] - df['interactions'].mean())/df['interactions'].std()
df.head()

   spend  interactions   z_spend  z_interactions
0   5818            23  0.923351        0.647282
1   6255            15  1.145958       -0.809740
2   6139            15  1.086868       -0.809740
3   6070            19  1.051719       -0.081229
4   4837            24  0.423632        0.829410

In [4]:
math.sqrt((df.loc[0, 'z_spend'] - df.loc[1, 'z_spend'])**2 + 
          (df.loc[0, 'z_interactions'] - df.loc[1, 'z_interactions'])**2)

1.4739295890009316