In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv("conversion_rates.csv")

In [2]:
data.head()

   converted group
0          0     B
1          0     B
2          0     A
3          0     B
4          0     A

In [3]:
viewed = data.groupby('group').count().rename({'converted':'viewed'}, axis = 'columns')
viewed

       viewed
group
A        1030
B         970

In [4]:
converted = data.groupby('group').sum()
converted

       converted
group
A             90
B             21

In [5]:
stats = converted.merge(viewed, on = 'group')
stats

       converted  viewed
group
A             90    1030
B             21     970

In [6]:
stats['conversion_ratio'] = stats['converted']/stats['viewed']
stats

       converted  viewed  conversion_ratio
group
A             90    1030          0.087379
B             21     970          0.021649

In [7]:
df = stats.stack()
df

group
A      converted             90.000000
       viewed              1030.000000
       conversion_ratio       0.087379
B      converted             21.000000
       viewed               970.000000
       conversion_ratio       0.021649
dtype: float64

In [8]:
df['A']['conversion_ratio']

0.08737864077669903

In [9]:
stats.unstack().unstack()

group                       A           B
converted           90.000000   21.000000
viewed            1030.000000  970.000000
conversion_ratio     0.087379    0.021649