In [1]:
import pandas as pd

df = pd.read_csv('offer_responses.csv')
df.head()

   responses  offer_discount  offer_quality  offer_reach
0     4151.0            26.0      10.257680      31344.0
1     3397.0            35.0      15.194380      24016.0
2     3274.0            21.0      13.971468      28832.0
3     3426.0            27.0       6.054338      26747.0
4     5745.0            42.0      16.801365      46968.0

In [2]:
from sklearn.model_selection import train_test_split

X = df[['offer_quality',
        'offer_discount',
        'offer_reach'
       ]]

y = df['responses']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train,y_train)

predictions = model.predict(X_test)

print('RMSE with all variables: ' + str(mean_squared_error(predictions, y_test)**0.5))

RMSE with all variables: 966.2461828577945

In [4]:
X_train2 = X_train.drop('offer_quality',axis=1)
X_test2 = X_test.drop('offer_quality',axis=1)

model = LinearRegression()
model.fit(X_train2,y_train)

predictions = model.predict(X_test2)

print('RMSE without offer quality: ' + str(mean_squared_error(predictions, y_test)**0.5))

RMSE without offer quality: 965.5346123758474

In [5]:
X_train3 = X_train.drop('offer_discount',axis=1)
X_test3 = X_test.drop('offer_discount',axis=1)

model = LinearRegression()
model.fit(X_train3,y_train)

predictions = model.predict(X_test3)

print('RMSE without offer discount: ' + str(mean_squared_error(predictions, y_test)**0.5))

RMSE without offer discount: 1231.6766556327284

In [6]:
X_train4 = X_train.drop('offer_reach',axis=1)
X_test4 = X_test.drop('offer_reach',axis=1)

model = LinearRegression()
model.fit(X_train4,y_train)

predictions = model.predict(X_test4)

print('RMSE without offer reach: ' + str(mean_squared_error(predictions, y_test)**0.5))

RMSE without offer reach: 1185.8456831644114