In [1]:
import pandas as pd

In [2]:
campaign_data = pd.read_csv("data.csv")

In [3]:
campaign_data.head()

       Campaign Data
views          likes
90006            402
101141           389
97297            403
117182           397

In [4]:
campaign_data = pd.read_csv("data.csv", header = 1)

In [5]:
campaign_data.head()

    views  likes
0   90006    402
1  101141    389
2   97297    403
3  117182    397
4   99637    404

In [6]:
campaign_data.tail()

     views  likes
95  100464    391
96   96382    387
97   94971    389
98  103070    410
99  110387    411

In [7]:
campaign_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
views    100 non-null int64
likes    100 non-null int64
dtypes: int64(2)
memory usage: 1.6 KB

In [8]:
campaign_data.shape

(100, 2)

In [9]:
sales = pd.read_excel("sales.xlsx")

In [10]:
sales.head()

,Year,Product,line,Product.1,type,Product.2,Order,method,type.1,Retailer,...,Quantity,Unit,cost.1,Unit.1,price,Gross,profit,Unit.2,sale,price.1
0,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,United,...,6.59,156672.570,5.195714,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Canada,...,7145.88,6.190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Mexico,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Brazil,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping,Equipment,Cooking,Gear,TrailChef,Water,Bag,Telephone,Japan,...,91707.18,5.488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
sales.dtypes

Year           int64
Product       object
line          object
Product.1     object
type          object
Product.2     object
Order         object
method        object
type.1        object
Retailer      object
country       object
Revenue       object
Planned       object
revenue       object
Product.3     object
cost         float64
Quantity     float64
Unit         float64
cost.1       float64
Unit.1       float64
price        float64
Gross        float64
profit       float64
Unit.2       float64
sale         float64
price.1      float64
dtype: object

In [12]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 26 columns):
Year         65535 non-null int64
Product      65535 non-null object
line         65535 non-null object
Product.1    65535 non-null object
type         65535 non-null object
Product.2    65535 non-null object
Order        65535 non-null object
method       61083 non-null object
type.1       46709 non-null object
Retailer     32525 non-null object
country      24135 non-null object
Revenue      21494 non-null object
Planned      20925 non-null object
revenue      20645 non-null object
Product.3    20588 non-null object
cost         19224 non-null float64
Quantity     13663 non-null float64
Unit         7046 non-null float64
cost.1       2403 non-null float64
Unit.1       650 non-null float64
price        233 non-null float64
Gross        46 non-null float64
profit       4 non-null float64
Unit.2       0 non-null float64
sale         0 non-null float64
price.1      0 non-null float64
dtypes: float64(11), int64(1), object(14)
memory usage: 13.0+ MB

In [13]:
sales = pd.read_excel("sales.xlsx", names = ["Year", "Product line", "Product type", "Product", "Order method type",
                                             "Retailer Country", "Revenue", "Planned revenue", "Product cost", "Quantity",
                                             "Unit cost", "Unit price", "Gross Profit", "Unit sale price"])

ValueError: Length mismatch: Expected axis has 26 elements, new values have 14 elements

In [ ]:
sales.shape