In [1]:
import pandas as pd
df = pd.read_csv('four_cols.csv')

In [2]:
cols = df.columns
zcols = []
for col in cols:
    df['z_' + col] = (df[col] - df[col].mean())/df[col].std()
    zcols.append('z_' + col)

In [3]:
from sklearn import model_selection

X_train, X_test = model_selection.train_test_split(df[zcols], random_state = 100)

In [4]:
X_train.head()

     z_income     z_age  z_days_since_purchase  z_annual_spend
786 -0.805197  0.420157              -1.939926        0.876740
152 -0.470513 -2.161454               0.833129       -0.547127
925 -0.367203  0.051356               0.708297        0.723198
501  1.448095 -1.331651              -1.110684       -0.485950
920 -1.089566  0.973360               0.592382        0.293758

In [5]:
X_test.head()

     z_income     z_age  z_days_since_purchase  z_annual_spend
249 -0.987142  0.327957               0.850962        0.710602
353  1.635380 -1.239450              -0.647022       -0.998159
537 -0.733143  0.420157               0.726130        1.078865
424 -0.678197  0.235756              -1.431681        1.501707
564 -0.721551 -0.040845               1.439456       -0.643691

In [6]:
print('Length of training set: ' + str(len(X_train)))
print('Length of test set: ' + str(len(X_test)))

Length of training set: 750
Length of test set: 250

In [7]:
from sklearn import cluster
from sklearn import metrics

bandwidth = cluster.estimate_bandwidth(X_train, quantile=0.1)
ms = cluster.MeanShift(bandwidth=bandwidth, bin_seeding=True)

ms.fit(X_train)

MeanShift(bandwidth=1.134556584809182, bin_seeding=True, cluster_all=True,
     min_bin_freq=1, n_jobs=1, seeds=None)

In [8]:
ms_labels = ms.predict(X_test)

ms_silhouette = metrics.silhouette_score(X_test, ms_labels)
print('mean-shift silhouette score: ' + str(ms_silhouette))

mean-shift silhouette score: 0.4702247778303609

In [9]:
model = cluster.KMeans(n_clusters=5, random_state=10)
model.fit(X_train)

km_labels = model.predict(X_test)
km_silhouette = metrics.silhouette_score(X_test, km_labels)

print('k-means silhouette score: ' + str(km_silhouette))

k-means silhouette score: 0.4710211103342539

In [10]:
bandwidth = cluster.estimate_bandwidth(X_train, quantile=0.01)
ms = cluster.MeanShift(bandwidth=bandwidth, bin_seeding=True)

ms.fit(X_train)

ms_labels = ms.predict(X_test)

ms_silhouette = metrics.silhouette_score(X_test, ms_labels)
print('mean-shift (low quantile) silhouette score: ' + str(ms_silhouette))

mean-shift (low quantile) silhouette score: 0.030474668518421098